/* Write your CSS here */

.back {
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 10x;
}
.size {
  width: 90px;
  height: 80px;
}

.flex {
  display: flex;
}
